html {
    font-size: 10px;
    font-family: 'Kanit', sans-serif;
}
h1 {
    font-size: 60px;
    text-align: center;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

html {
    background: linear-gradient(#B8D8D8, #FE5F55, #4F6367);
}
body {
    width: 1000px;
    margin: 0 auto;
    background-color: #EEF5DB;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #ee2e31;
    text-shadow: 3px 3px 10px #679289;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 500px;
   
}